import type { Meta } from '@storybook/react';
import { <%= name %> } from './<%= name %>';

const Story: Meta<typeof <%= name %>> = {
    component: <%= name %>,
    title: 'Design System/<%= type.charAt(0).toUpperCase() + type.slice(1) %>/<%= name %>',
};
export default Story;

export const Primary = {
    args: {},
    parameters: {
        design: {
            type: 'figma',
            url: '',
        },
    },
};
