import type { Meta } from '@storybook/react';
import { <%= name %> } from './<%= name %>';

const Story: Meta<typeof <%= name %>> = {
    component: <%= name %>,
    title: '<%= name %>',
};
export default Story;

export const Primary = {
    args: {
        className: '',
    },
    parameters: {
        design: {
            type: 'figma',
            url: '',
        },
    },
};
